How to make this work:

First, make sure you are running the latest version of AutoIt,
at least AutoIt v3.2.12.0

Much praise and rejoicing go to PaulIA on this. Being able to use alpha 
channel PNGs as a GUI background is really going to spice things up. :)

- lod3n, 6/13/2007

Also GaryFrost, for updating this to work with AutoIt v3.2.12.0
- lod3n 5/28/2008